# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
 
# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
 
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
 
# Visual Studio 2015 cache/options directory
.vs/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
